.frame-981 {
    background-color: rgba(49, 49, 49, 1);
    overflow: hidden;
    border-radius: 20px;
    padding: 20px 2px 32px 89px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-wrapper-four {
    margin-bottom: 22px;
    padding: 0 0 0 161px;
    display: flex;
    align-items: flex-start;
}
.tablica-cvetov {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    margin-right: 221px;
}
.save-icon {
    margin-right: 10px;
}
.close-icon {
    padding: 8px;
    display: flex;
    align-items: center;
}
.group-70 {
    padding: 0 7.94px 0 0;
    position: relative;
}
.rectangle-3 {
    width: 1.06px;
    height: 11.67px;
    background-color: rgba(119, 119, 119, 1);
    position: relative;
}
.rectangle-3-1 {
    width: 1.06px;
    height: 11.67px;
    background-color: rgba(119, 119, 119, 1);
    position: absolute;
    left: 0;
    top: 0;
}
.flex-wrapper-five {
    display: flex;
    align-items: center;
}
.relative-wrapper-one {
    width: 22.79%;
    margin-right: 227px;
    position: relative;
}
.frame-926 {
    width: 67.16%;
    display: flex;
    align-items: center;
    position: absolute;
    left: -89px;
    top: 0;
}
.rectangle-3-11 {
    width: 97.78%;
    height: 53px;
    background: linear-gradient(
            rgba(66, 66, 66, 1),
            rgba(66, 66, 66, 1)
    ),
    rgba(255, 255, 255, 1);
    position: relative;
    border: 1px solid rgba(51, 51, 51, 1);
}
.cvet {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 15px;
    top: 16px;
}
.frame-928 {
    width: 100%;
    position: relative;
}
.rectangle-3-11-two {
    width: 98.51%;
    height: 53px;
    background: linear-gradient(
            rgba(66, 66, 66, 1),
            rgba(66, 66, 66, 1)
    ),
    rgba(255, 255, 255, 1);
    position: relative;
    border: 1px solid rgba(51, 51, 51, 1);
}
.frame-929 {
    width: 85.82%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -114px;
    top: 0;
}
.rectangle-3-11-three {
    width: 98.26%;
    height: 53px;
    background: linear-gradient(
            rgba(66, 66, 66, 1),
            rgba(66, 66, 66, 1)
    ),
    rgba(255, 255, 255, 1);
    position: relative;
    border: 1px solid rgba(51, 51, 51, 1);
}
.flex-wrapper-three {
    background: linear-gradient(
            rgba(66, 66, 66, 1),
            rgba(66, 66, 66, 1)
    ),
    rgba(255, 255, 255, 1);
    padding: 15px 65px 16px 15px;
    display: flex;
    align-items: center;
    position: absolute;
    right: -228px;
    top: 0;
    border: 1px solid rgba(51, 51, 51, 1);
}
.kod {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
}
.flex-wrapper-two {
    background: linear-gradient(
            rgba(66, 66, 66, 1),
            rgba(66, 66, 66, 1)
    ),
    rgba(255, 255, 255, 1);
    margin-right: -1px;
    padding: 16px 15px 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(51, 51, 51, 1);
}
.flex-wrapper-one {
    background: linear-gradient(
            rgba(66, 66, 66, 1),
            rgba(66, 66, 66, 1)
    ),
    rgba(255, 255, 255, 1);
    padding: 16px 29px 15px 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(51, 51, 51, 1);
}
.relative-wrapper-two {
    width: 22.79%;
    position: relative;
}
.rectangle-6527 {
    width: 41px;
    height: 41px;
    background-color: rgba(134, 234, 233, 1);
    position: absolute;
    right: 24px;
    top: 7px;
}
.mjatnoe-utro {
    font-family: "Lato";
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(191, 191, 191, 1);
    position: absolute;
    left: 15px;
    top: 18px;
}
.frame-973 {
    width: 85.82%;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: -114px;
    top: 0;
}
.frame-976 {
    width: 85.82%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -342px;
    top: 0;
}
.frame-938 {
    padding: 3px 3.95px 2.53px 3px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 48px;
    top: 18px;
}
.vector {
    height: 100%;
    flex: 1;
    object-fit: cover;
}
.frame-975 {
    width: 85.82%;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: -228px;
    top: 0;
}
.frame-977 {
    width: 85.82%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -456px;
    top: 0;
}
.frame-768 {
    padding: 3px 5px 4px 4px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 48px;
    top: 17px;
}
.group {
    display: flex;
    align-items: flex-start;
    border-top: 2px solid rgba(141, 141, 141, 1);
}
.rectangle-2-26-stroke {
    width: 11px;
    height: 11px;
}
.frame-978 {
    width: 85.82%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -341px;
    top: 0;
}
.frame-979 {
    width: 85.82%;
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: -227px;
    top: 0;
}
.frame-980 {
    width: 85.82%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -455px;
    top: 0;
}
.lavandovyj-punsh {
    max-width: 64px;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(191, 191, 191, 1);
    position: absolute;
    left: 15px;
    top: 12px;
}
.rectangle-6527-two {
    width: 41px;
    height: 41px;
    background-color: rgba(184, 178, 221, 1);
    position: absolute;
    right: 24px;
    top: 7px;
}
.relative-wrapper-four {
    width: 22.79%;
    margin-bottom: 30px;
    position: relative;
}
.rectangle-6527-three {
    width: 41px;
    height: 41px;
    background-color: rgba(55, 201, 239, 1);
    position: absolute;
    right: 24px;
    top: 7px;
}
.frame-5 {
    margin-left: 126px;
    overflow: hidden;
    border-radius: 100px;
    padding: 9px 67px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(83, 203, 241, 1);
}
.dobavit-cvet {
    font-family: "Lato";
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}